apiVersion: v1
kind: Pod
metadata:
  name: {{ include "spiffe-vault.fullname" . }}
  labels:
    {{- include "spiffe-vault.labels" . | nindent 4 }}
spec:
  {{- with .Values.imagePullSecrets }}
  imagePullSecrets:
    {{- toYaml . | nindent 8 }}
  {{- end }}
  serviceAccountName: {{ include "spiffe-vault.serviceAccountName" . }}
  securityContext:
    {{- toYaml .Values.podSecurityContext | nindent 8 }}
  containers:
    - name: {{ .Chart.Name }}
      securityContext:
        {{- toYaml .Values.securityContext | nindent 12 }}
      image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
      imagePullPolicy: {{ .Values.image.pullPolicy }}
      command: ["sh"]
      stdin: true
      tty: true
      {{- if .Values.docker.enabled }}
      env:
        - name: DOCKER_HOST
          value: tcp://localhost:2376
        - name: DOCKER_TLS
          value: "1"
        - name: DOCKER_CERT_PATH
          value: /certs/client
      {{- end }}
      resources:
        {{- toYaml .Values.resources | nindent 12 }}
      volumeMounts:
        - name: spiffe-workload-api
          mountPath: /spiffe-workload-api
          readOnly: true
      {{- if .Values.docker.enabled }}
        - name: docker-certs
          mountPath: /certs/client
          readOnly: true
      {{- end }}
    {{- if .Values.docker.enabled }}
    - name: dind-daemon
      securityContext:
        {{- toYaml .Values.docker.securityContext | nindent 12 }}
      image: "{{ .Values.docker.image.repository }}:{{ .Values.docker.image.tag }}"
      imagePullPolicy: {{ .Values.docker.image.pullPolicy }}
      resources:
        {{- toYaml .Values.docker.resources | nindent 12 }}
      env:
        - name: DOCKER_CERT_PATH
          value: /certs/client
      volumeMounts:
        - name: docker-graph-storage
          mountPath: /var/lib/docker
      {{- if .Values.docker.enabled }}
        - name: docker-certs
          mountPath: /certs/client
      {{- end }}
    {{- end }}
  restartPolicy: OnFailure
  {{- with .Values.nodeSelector }}
  nodeSelector:
    {{- toYaml . | nindent 8 }}
  {{- end }}
  {{- with .Values.affinity }}
  affinity:
    {{- toYaml . | nindent 8 }}
  {{- end }}
  {{- with .Values.tolerations }}
  tolerations:
    {{- toYaml . | nindent 8 }}
  {{- end }}
  volumes:
    - name: spiffe-workload-api
      csi:
        driver: "csi.spiffe.io"
        readOnly: true
    {{- if .Values.docker.enabled }}
    - name: docker-graph-storage
      emptyDir: {}
    - name: docker-certs
      emptyDir: {}
    {{- end }}
